*{
    padding:0;
    margin:0px;
    box-sizing: border-box;
}
body{
    width:100vw;
    height: 100vh;
    display:grid;
    place-items:center;
    background-image: url(https://images.pexels.com/photos/1435511/pexels-photo-1435511.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
}


#convert {
    background-color: #bba768;
  }
  #convert:hover {
    background-color: #bcc768;
  }
  h1 {
    font-family: sans-serif;
    color: red;
  }
  input {
    display: block;
    padding: 10px;
    margin-top: 10px;
    font-size: 2em;
    color: #f4a55a;
    font-family: cursive, sans-serif;
  }
  ::-webkit-input-placeholder {
     color: #ccc;
  }
  :-moz-placeholder { /* Firefox 18- */
     color: #ccc;  
  }
  ::-moz-placeholder {  /* Firefox 19+ */
     color: #ccc;  
  }
  :-ms-input-placeholder {  
     color: #ccc;  
  }
  button {
    padding: 10px;
    font-size: 1.2em;
    color: #545454;
  }